<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('welcome') }}">
            <img src="{{ url_for('static', filename='TUNISYS_LOGO_001.png') }}" alt="Logo" class="logo">
        </a>
        <h1>Welcome, {{ username }}</h1>
    </header>
    <main>
        <div class="actions">
            <h2>Go to Dashboard <a href="{{ url_for('dashboard') }}" class="button">here</a></h2>
            <h2>Register a Colleague <a href="{{ url_for('getcode') }}" class="button">here</a></h2>
        </div>
    </main>
</body>
</html>
